@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700;900&display=swap");
.pc {
  display: block;
}
@media (max-width: 1080px) {
  .pc {
    display: none;
  }
}

.tab, .sp {
  display: none;
}
@media (max-width: 1080px) {
  .tab, .sp {
    display: block;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.inB {
  display: inline-block;
}

.blank::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/icon-blank.svg) center center no-repeat;
  background-size: contain;
  margin-left: 20px;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.inner-X {
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 768px) {
  .inner-X {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.inner-Y {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title-ja {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 130px;
  z-index: 1;
}
.section-title-ja::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  width: 335px;
  height: 139px;
  background: url(../img/blob-02.svg) center center no-repeat;
  background-size: contain;
  z-index: -1;
}

.section-title-en {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.5;
  z-index: 1;
}

@media (max-width: 1080px) {
  .section-title-ja::before {
    width: 300px;
    height: 124px;
  }

  .section-title-en {
    font-size: 40px;
  }
}
.content-title {
  text-align: left;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5;
}

.content-message {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

.content-btn {
  display: block;
  width: 400px;
  height: 100px;
  border: 4px solid #1b1b1b;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(27, 27, 27, 0.25);
  margin: 60px auto 0 auto;
}
.content-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: #1b1b1b;
}
.content-btn a span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-btn a .recruit-icon::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url(../img/recruit-icon.svg) center center no-repeat;
  background-size: contain;
  margin-right: 20px;
}
.content-btn:hover {
  position: relative;
  background-color: #ffe200;
  box-shadow: 0 1px 2px rgba(27, 27, 27, 0.25);
}
.content-btn:hover .recruit-icon::before {
  background: url(../img/recruit-icon-hover.svg) center center no-repeat;
}

@media (max-width: 768px) {
  .content-btn {
    width: 100%;
    max-width: 345px;
    min-width: 320px;
  }
  .content-btn:hover .recruit-icon::after {
    left: 40px;
  }
}
html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
}

body {
  font-weight: 500;
  color: #1b1b1b;
  letter-spacing: 0.05em;
  line-height: 2;
  position: relative;
  background-color: #ffffff;
}

@media (max-width: 1080px) {
  body.closed {
    overflow: hidden;
  }
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(27, 27, 27, 0.1);
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
}
#header .header-title {
  margin-left: -10px;
}
#header .header-navi ul {
  display: flex;
  align-items: center;
}
#header .header-navi ul li a {
  display: inline-block;
  font-size: 18px;
  font-weight: 900;
  color: #1b1b1b;
  line-height: 1.5;
  white-space: nowrap;
}
#header .header-navi ul li .header-navi-item {
  position: relative;
}
#header .header-navi ul li .header-navi-item:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: #ffe200;
  z-index: -1;
}
#header .header-navi ul li .header-navi-item .blank::after {
  margin-left: 10px;
}
#header .header-navi ul li .header-contact-btn {
  border: 3px solid #1b1b1b;
  border-radius: 31px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(27, 27, 27, 0.25);
  padding: 15px 40px;
}
#header .header-navi ul li .header-contact-btn:hover {
  background-color: #ffe200;
  box-shadow: 0 1px 2px rgba(27, 27, 27, 0.25);
}
#header .header-navi ul li .header-contact-btn:hover::before {
  display: none;
}
#header .header-navi ul li + li {
  margin-left: 30px;
}
#header .toggle-menu-btn {
  display: none;
}

@media (max-width: 1080px) {
  #header {
    position: absolute;
    top: 0;
    background-color: transparent;
    box-shadow: none;
  }
  #header .header-title {
    position: absolute;
    top: 10px;
    left: 40px;
  }
  #header .header-navi {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  #header .header-navi.closed {
    display: none;
  }
  #header .header-navi ul {
    flex-direction: column;
  }
  #header .header-navi ul li + li {
    margin-top: 30px;
    margin-left: 0;
  }
  #header .toggle-menu-btn {
    position: fixed;
    top: 10px;
    right: 40px;
    display: block;
    width: 60px;
    height: 60px;
    border: 3px solid #1b1b1b;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(27, 27, 27, 0.25);
    cursor: pointer;
  }
  #header .toggle-menu-btn:hover {
    box-shadow: 0 1px 2px rgba(27, 27, 27, 0.25);
  }
  #header .toggle-menu-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../img/menu-close.svg) center center no-repeat;
    background-size: contain;
  }
  #header .toggle-menu-btn.closed::before {
    background: url(../img/menu-open.svg) center center no-repeat;
  }
}
@media (max-width: 768px) {
  #header .header-title {
    left: 15px;
  }
  #header .toggle-menu-btn {
    right: 15px;
  }
}
#main {
  margin-top: 80px;
  overflow: hidden;
}
#main #fv {
  position: relative;
  width: 100%;
  height: 640px;
  border-bottom: 1px solid rgba(27, 27, 27, 0.25);
  background-color: #ffffff;
  overflow: hidden;
}
#main #fv .wrapper .fv-copy {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
#main #fv .wrapper .fv-copy .fv-main-copy {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.5;
}
#main #fv .wrapper .fv-copy .fv-sub-copy {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 30px;
}
#main #fv .wrapper .fv-copy::before {
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%, -50%);
  content: "";
  width: 392px;
  height: 377px;
  display: inline-block;
  background: url(../img/blob-01.svg) center center no-repeat;
  background-size: contain;
  z-index: -1;
}
#main #fv .wrapper .fv-member {
  position: absolute;
  bottom: 0;
  right: -140px;
}
#main #fv::after {
  position: absolute;
  bottom: 40px;
  left: 40px;
  content: "";
  display: inline-block;
  width: 18px;
  height: 140px;
  background: url(../img/scroll-message-pc.svg) center center no-repeat;
  background-size: contain;
}
@media (max-width: 1080px) {
  #main #fv {
    height: 667px;
  }
  #main #fv .wrapper {
    width: 100%;
  }
  #main #fv .wrapper .fv-copy {
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  #main #fv .wrapper .fv-copy .fv-main-copy {
    font-size: 40px;
    white-space: nowrap;
  }
  #main #fv .wrapper .fv-copy .fv-sub-copy {
    text-align: center;
    font-size: 18px;
  }
  #main #fv .wrapper .fv-copy::before {
    position: absolute;
    top: 45%;
    left: 48%;
    transform: translate(-50%, -50%);
    content: "";
    width: 300px;
  }
  #main #fv .wrapper .fv-member {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
  #main #fv::after {
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    height: 21px;
    background: url(../img/scroll-message-sp.svg) center center no-repeat;
  }
}
#main #hello {
  background-color: #ffffff;
}
#main #hello .wrapper .hello-content .hello-logo {
  display: block;
  height: 90px;
  margin: 0 auto;
}
#main #hello .wrapper .hello-content .content-title {
  text-align: center;
}
#main #hello .wrapper .hello-content .content-message {
  text-align: center;
}
#main #hello .wrapper .hello-content * + * {
  margin-top: 40px;
}
#main #service {
  background-color: #fafafa;
}
#main #service .wrapper .service-content {
  display: flex;
  justify-content: space-between;
}
#main #service .wrapper .service-content .service-item {
  width: 30%;
  max-width: 300px;
  margin: 0 auto;
}
#main #service .wrapper .service-content .service-item .service-img {
  width: 100%;
  border-radius: 10px;
}
#main #service .wrapper .service-content .service-item * + * {
  margin-top: 20px;
}
@media (max-width: 768px) {
  #main #service .wrapper .service-content {
    flex-direction: column;
  }
  #main #service .wrapper .service-content .service-item {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
  }
  #main #service .wrapper .service-content .service-item + .service-item {
    margin-top: 40px;
  }
}
#main #recruit {
  background-color: #ffffff;
}
#main #recruit .wrapper .recruit-content .recruit-img {
  width: 100%;
  border-radius: 10px;
}
#main #recruit .wrapper .recruit-content .content-title {
  text-align: center;
}
#main #recruit .wrapper .recruit-content .content-message {
  text-align: left;
}
#main #recruit .wrapper .recruit-content * + * {
  margin-top: 20px;
}
#main #recruit .wrapper .recruit-info {
  margin-top: 100px;
}
#main #recruit .wrapper .recruit-info .recruit-title {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #ffffff;
  line-height: 1.5;
  -webkit-text-stroke: 1px #1b1b1b;
  text-shadow: 4px 4px 0 rgba(27, 27, 27, 0.25);
}
#main #recruit .wrapper .recruit-info .recruit-table {
  width: 100%;
  margin-top: 40px;
}
#main #recruit .wrapper .recruit-info .recruit-table tr th {
  width: 200px;
  text-align: left;
  background-color: #fafafa;
  border: 2px solid #1b1b1b;
  padding: 10px 15px;
}
#main #recruit .wrapper .recruit-info .recruit-table tr th:not(:nth-child(1)) {
  border-top: none;
}
#main #recruit .wrapper .recruit-info .recruit-table tr td {
  text-align: left;
  background-color: #ffffff;
  border: 2px solid #1b1b1b;
  padding: 10px 15px;
}
#main #recruit .wrapper .recruit-info .recruit-comment {
  max-width: 400px;
  margin: 60px auto 0 auto;
}
#main #recruit .wrapper .recruit-info .recruit-comment .recruit-img {
  margin: 0 auto;
}
#main #recruit .wrapper .recruit-info .recruit-comment .content-title {
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}
#main #recruit .wrapper .recruit-info .recruit-comment * + * {
  margin-top: 20px;
}
@media (max-width: 768px) {
  #main #recruit .wrapper .recruit-info .recruit-table tr th, #main #recruit .wrapper .recruit-info .recruit-table tr td {
    display: block;
    width: 100%;
  }
  #main #recruit .wrapper .recruit-info .recruit-table tr td {
    border-top: none;
  }
  #main #recruit .wrapper .recruit-info .recruit-table tr:not(:nth-child(1)) th {
    border-top: none;
  }
}
#main #company {
  background-color: #fafafa;
}
#main #company .company-content {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
#main #company .company-content .g-map {
  width: 100%;
  height: 380px;
  border: 2px solid #1b1b1b;
}
#main #company .company-content .company-info {
  width: 400px;
}
#main #company .company-content .company-info .info-list {
  list-style: none;
}
@media (max-width: 1080px) {
  #main #company .company-content {
    flex-direction: column-reverse;
    gap: 40px;
  }
  #main #company .company-content .company-info {
    width: 100%;
  }
}

@media (max-width: 1080px) {
  #main {
    margin-top: 0;
  }
}
#footer {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
#footer a .footer-logo {
  margin: 0 auto 40px auto;
}
#footer .copy-right {
  text-align: center;
  line-height: 1.5;
}

#fv::after {
  -webkit-animation-name: scroll-arrow;
          animation-name: scroll-arrow;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}
@-webkit-keyframes scroll-arrow {
  0% {
    bottom: 35px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 35px;
  }
}
@keyframes scroll-arrow {
  0% {
    bottom: 35px;
  }
  50% {
    bottom: 40px;
  }
  100% {
    bottom: 35px;
  }
}
@media (max-width: 1080px) {
  @-webkit-keyframes scroll-arrow {
    0% {
      bottom: 8px;
    }
    50% {
      bottom: 3px;
    }
    100% {
      bottom: 8px;
    }
  }
  @keyframes scroll-arrow {
    0% {
      bottom: 8px;
    }
    50% {
      bottom: 3px;
    }
    100% {
      bottom: 8px;
    }
  }
}

.member-animation {
  -webkit-animation-name: member-animation;
          animation-name: member-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes member-animation {
  0% {
    bottom: -350px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes member-animation {
  0% {
    bottom: -350px;
  }
  100% {
    bottom: 0;
  }
}
.copy-animation {
  -webkit-animation-name: copy-animation;
          animation-name: copy-animation;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes copy-animation {
  0% {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(1);
  }
  50% {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(1.05);
  }
  100% {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(1);
  }
}

@keyframes copy-animation {
  0% {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(1);
  }
  50% {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(1.05);
  }
  100% {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%) scale(1);
  }
}
@media (max-width: 1080px) {
  @-webkit-keyframes copy-animation {
    0% {
      top: 160px;
      left: 50%;
      transform: translate(-50%, 0) scale(1);
    }
    50% {
      top: 160px;
      left: 50%;
      transform: translate(-50%, 0) scale(1.1);
    }
    100% {
      top: 160px;
      left: 50%;
      transform: translate(-50%, 0) scale(1);
    }
  }
  @keyframes copy-animation {
    0% {
      top: 160px;
      left: 50%;
      transform: translate(-50%, 0) scale(1);
    }
    50% {
      top: 160px;
      left: 50%;
      transform: translate(-50%, 0) scale(1.1);
    }
    100% {
      top: 160px;
      left: 50%;
      transform: translate(-50%, 0) scale(1);
    }
  }
}
/*# sourceMappingURL=style.css.map */